body {
    font-family: Arial;
    background: #f4f4f4;
    text-align: center;
}

.container {
    background: white;
    width: 350px;
    margin: 40px auto;
    padding: 20px;
    border-radius: 8px;
}

input {
    padding: 8px;
    width: 70%;
}

button {
    padding: 8px;
    margin: 5px;
    cursor: pointer;
}

li {
    list-style: none;
    padding: 8px;
    margin: 5px 0;
    background: #eee;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.completed {
    text-decoration: line-through;
    color: gray;
}